@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
font-family: 'Itim', cursive !important;
background-image: url(../img/fond_1.2.png);
  background-repeat: no-repeat;
background-size: auto;


}
/*----------------------xxxxxxxxxxx-------------------------------*/
/*----------------------texte-------------------------------*/
.conteneur{
    margin-top: 56px;
text-align: center;
}
.text_1{
  color: white;
}
.Prenom p{
font-size: 70px;
}
.Nom p{
  font-size: 50px;
  color: #5EB991;
}
.acroche p{
  font-size: 30px
}
/*----------------------xxxxxxxxxxx-------------------------------*/
/*----------------------menu_réseau-------------------------------*/
.menu_réseau{
  /*padding-left: 500px;*/
}
.social{

  /*background-color: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow : hidden;
  border-radius: 50%;
  margin: auto;
}
.social img{

  width: 50px;
  height: 50px;
}
/*----------------------xxxxxxxxxxx-------------------------------*/
/*-----------------------------------------------------*/
